body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.background {
    background-image: URL("https://images.unsplash.com/photo-1620336655055-088d06e36bf0?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNhcnRvb258ZW58MHx8MHx8fDA%3D");
    width: auto;
    height: 100vh;
    align-items: center;
}
.activitySpace {
    border: solid red;
    width: 75%;
    height: 75%;
    background-color: aliceblue;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.artSpace {
    border: solid blue;
    width: 48%;
    height: 48%;
}
.supplySpace{
    border: solid green;
    height: 20%;
}
.canvas{
    border: solid orange;
    height: 80%;
}
.printSpace {
    border: solid blue;
    width: 48%;
    height: 48%;
}
.textFormContainer{
    border: solid green;
    height: 20%;
}
.switchArea{
    border: solid blue;
    width: 48%;
    height: 48%;
}
.buttonArea {
    border: solid blue;
    width: 48%;
    height: 48%;
}
.{
    border: solid blue;
    width: 48%;
    height: 48%;
}
.brush {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: black;
}
button:hover {
    background-color: #8a1546;
  }